@charset "utf-8";
/* CSS Document */

body{
background-color:#CACACA;
height:750px;


}

#imm{
	height:100%;
	margin-top:-2%;
	
       background-image: url(/img/immaginetrasppp.jpg);
}

ul {
	
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #F11114;
    font-style:oblique;
 	border-top-right-radius:20px; 
	border-top-left-radius:20px; 
    border-bottom-right-radius:0px; 
    border-bottom-left-radius:0px;
	border-width:2px;
	border-color:antiquewhite;
    border-style:outset;
	background : -webkit-gradient(linear, left top, left bottom, from(#F11114), to(#CC0000));
	background: -webkit-linear-gradient(top, #F11114, #CC0000);
	background: -moz-linear-gradient(top, #F11114, #CC0000);
	background: -ms-linear-gradient(top, #F11114, #CC0000);
	background: -o-linear-gradient(top, #F11114, #CC0000);	
	}
#contbarraricerca{
	width: 100%;
    height: 200px;
 	position: absolute;
    top: 70%;
    margin-top: -100px;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover:not(.active) {
    background-color: #FFED00; 
}

.active {
text-decoration: none;
	color: #FFED00;
	background: #FFED00;
	top: 3px;
	box-shadow: 0px 3px 8px #aaa, inset 0px 0px 0px #fff;}





#logo {
	margin:auto;
       
}


#immaginehome {
	opacity:0.25;
         
}

#conteiner_imm_ricerca_did{
	position:relative;
	width: 100%;
}


.tabella{
	
	
	right: 20%;
	margin-right:20%;
}
.riepilogo{
	position: relative;
	left: 7%;
}




.Contanticonsegna{
	display: block;
    padding: 11px 10px 15px 0;
    line-height: 15px;
    font-size: 6px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #222;
    margin: 2%;
    outline: none;
	left: 0%;
}
.menu{
	
	width: 45%;
	margin-left:23%;
	margin-top:5%;
}
.confermaordine{
	
	right: 55%;
	margin-left:8%;
	margin-top:2%;
	font-weight: bold;
	font-size:15px;
	border-top-right-radius:20px; 
	border-top-left-radius:20px; 
	border-bottom-right-radius:20px; 
	border-bottom-left-radius:20px;
	width: 170px;
	height: 40px;
	background:#ff9900;
	opacity:0.70;
}
#pagamento{
	margin-left:5%;
	margin-top:2%;
}
.svuotacarrello{
	
	right: 60%;
	margin-left: 7%;
	margin-top: 2%;
	font-weight: bold;
	font-size:15px;
	border-top-right-radius:20px; 
	border-top-left-radius:20px; 
	border-bottom-right-radius:20px; 
	border-bottom-left-radius:20px;
	width: 170px;
	height: 40px;
	background:#ff9900;
	opacity:0.70;
}
