body{
    height:750px;

}

.titolo{
	margin-top: 2%;
}
.tabellamenu{
	margin-left: 32%;
	margin-top: 5%;
}
#container{
    margin-top: -2%;
           background-image: url(/img/immaginetrasppp.jpg);
           height: 100%;
}
#salva{
	margin-left: 48%;
	margin-top: 3%;
	border-top-right-radius:20px; 
	border-top-left-radius:20px; 
	border-bottom-right-radius:20px; 
	border-bottom-left-radius:20px;
	height: 5%;
	width: 5%;
	background: #ff9900
}
.bottone{
	border-top-right-radius:20px; 
	border-top-left-radius:20px; 
	border-bottom-right-radius:20px; 
	border-bottom-left-radius:20px;
	background: #ff9900
}
.bottoneDecr{
	border-top-right-radius:20px; 
	border-top-left-radius:20px; 
	border-bottom-right-radius:20px; 
	border-bottom-left-radius:20px;
	background: #ff9900
}
.margin{
    margin-left: 0.5%;
}
