 #conteiner_imm_ricerca_did{
	position:relative;
	width: 1000%;
}
.pizzerie{
	background-color: #FFFFFF;
}
.filtri{
	background-color: #FFFFFF;
}
.filtra{
	background-color: #FFFFFF;
}
.pizzerie{
	margin-top: 35px;
	position: relative;
}
.sceltamenu{
	list-style-type: none;
	position:relative;
	right: -45%;
	margin-top: 3%;
}
.pizzemenu{
	background-color: white;
	margin-top: 6%;
	position: absolute;
	right: 27.5%;
}
.bottone1{
	 background-color: #E4EB00; 
border: 2px solid #000000; 
  color: #000000;              
  font-weight: bold;         
  padding: 0;                
  height: 70%;              
  width: 60%;
	position: relative;
	right: -40%;
	bottom: -60%;
}
.bottone2{
	 background-color: #E4EB00;
  border: 2px solid #000000; 
  color: #000000;              
  font-weight: bold;         
  padding: 0;                
  height: 70%;              
  width: 60%;
	position: relative;
	left: -40%;
	top: -65%;
}
.menucarrello{
	background-color: white;
	height: 18%;
	width: 15%;
}
.bottoneordina{
	background-color: #E4EB00;
  color: #000000;              
  font-weight: bold; 
	position: absolute;
	bottom: 5%;
  height: 40%;              
  width: 97%;
}
.nostrepizze{
	position: relative;
	right: -18%;
}
.menu{
	list-style-image: 
}