#pizzerie{
	background-color: #FFFFFF;
        opacity: 0.7;
	width: 100%;
}

#contenitore
{
	height: 72.2%;
}

#immagine{
	width: 60%;
	height: 100px;
}

#immc{
	width: 100%;
	height: 100%;
	position: relative
}
#immc img{
	max-height:100%;
	max-width:60%;
	margin-bottom: 10px;
	position: absolute;
	width: 30%;
	height: 100%;
}
#cont_info{
	width: 40%;
}